/* Main Page */
.content-wrapper {
    background-color: #f5eedc !important;
    color: #015379 !important;
}

p a, td a {
    color: #f6511d !important;
    text-decoration: underline !important;
}

p a:active, td a:active {
    font-style: italic !important;
}

p a:hover, td a:hover {
    text-decoration: none !important;
    text-shadow: 0 0 2px #999 !important;
}

p a:visited, td a:visited {
    color: #8a2d11 !important;
}

/* Sidebar */
.brand-text {
    color: #f5eedc !important;
}

.main-sidebar a img {
    width: 32px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    opacity: 1 !important;
}

.main-sidebar ul li a p, .main-sidebar ul li i {
    color: #f5eedc !important;
}

.nav-link.active {
    background-color: #015379 !important;
}

ul li.menu-open {
    border: 1px solid #f5eedc !important;
}

/* Alerts */
.alert-danger {
    background-color: #BF0603 !important;
    border-color: #343a40 !important;
    color: #f5eedc !important;
}

.alert-success {
    background-color: #72B01D !important;
    border-color: #343a40 !important;
    color: #f5eedc !important;
}

/* Buttons */
.btn.btn-danger {
    background-color: #bf0603 !important;
    color: #f5eedc !important;
    border: 1px solid #343a40 !important;
}
.btn.btn-primary {
    background-color: #015379 !important;
    color: #f5eedc !important;
    border: 1px solid #343a40 !important;
}
.btn.btn-success {
    background-color: #72B01D !important;
    color: #f5eedc !important;
    border: 1px solid #343a40 !important;
}
.btn.btn-warning {
    background-color: #f6511d !important;
    color: #f5eedc !important;
    border: 1px solid #343a40 !important;
}

/* Cards */
.card {
    border: 1px solid #343a40 !important;
}

.card-dark:not(.card-outline)>.card-header {
    color: #f5eedc !important;
    font-weight: bold !important;
    background-color: #015379 !important;
}

.card-empty-body {
    font-weight: bold;
    text-align: center;
}

.info-box {
    border: 1px solid #343a40 !important;
}

.info-box .info-box-icon {
    height: 62px;
}

.info-box .info-box-title {
    margin-bottom: .5rem;
    display: block;
    font-weight: 700;
}

.info-box .info-box-text {
    white-space: normal !important;
}

/* General Backgrounds */
.bg-danger {
    background-color: #BF0603 !important;
    color: #f5eedc !important;
}

.bg-danger a, .bg-danger h3 {
    color: #f5eedc !important;
}

.bg-info {
    background-color: #015379 !important;
    color: #f5eedc !important;
}

.bg-info a, .bg-info h3 {
    color: #f5eedc !important;
}

.bg-success {
    background-color: #72B01D !important;
    color: #f5eedc !important;
}

.bg-success a, .bg-success h3 {
    color: #f5eedc !important;
}

.bg-warning {
    background-color: #F6511D !important;
    color: #f5eedc !important;
}

.bg-warning a, .bg-warning h3 {
    color: #f5eedc !important;
}

/* Form Elements */
.form-control {
    color: #015379 !important;
    border: 1px solid #015379 !important;
}

.form-control.is-invalid {
    border-color: #BF0603 !important;
}

.invalid-feedback {
    color: #BF0603 !important;
}

/* Workflowables */
.direct-chat-primary .right>.direct-chat-text {
    background-color: #015379 !important;
    border-color: #015379 !important;
    color: #f5eedc !important;
}

.direct-chat-primary .right>.direct-chat-text::after, .direct-chat-primary .right>.direct-chat-text::before {
    border-left-color: #015379 !important;
}

.direct-chat-text {
    background-color: #f5eedc !important;
    border-color: #f5eedc !important;
    color: #343a40 !important;
}

.direct-chat-text::after, .direct-chat-text::before {
    border-right-color: #f5eedc !important;
}

/* Misc Stuff */
.square-img {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.square-img img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Nav Tabs */
ul.nav-tabs {
    border-bottom: 1px solid #015379;
    margin-bottom: 1em;
}

ul.nav-tabs li.nav-item {
    border-right: 1px solid #f5eedc;
}

ul.nav-tabs li.nav-item a.active {
    border-bottom-color: transparent;
    color: #f5eedc !important;
}

ul.nav-tabs>li.nav-item>a:focus {
    font-weight: bold;
}

.nav-tabs>li.nav-item:hover {
    background-color: #72B01D;
}

ul.nav-tabs li.nav-item a.nav-link {
    color: #015379;
}