body {
    font-family: 'Oxygen';
    background-color: #f5eedc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proza Libre';
}

body, h1, h2, h3, h4, h5, h6, .form-text {
    color: #f5eedc;
}

.lead a {
    color: #f6511d !important;
    text-decoration: underline !important;
}

.modal-h3 {
    color: #015379;
    text-align: center;
    margin-top: 1em;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.modal-image {
    width: 200px;
}

/* Classes */
.btn.btn-success {
    background-color: #72B01D !important;
    color: #f5eedc !important;
    border: 1px solid #343a40 !important;
}

.copyright {
    background-color: #343a40;
}

.text-blue {
    color: #015379;
}

/* Layout */
#mainNav {
    padding-top: 0px;
    padding-bottom: 0px;
}

.masthead {
    padding-top: calc(2rem + 74px);
    padding-bottom: 2rem;
}

.masthead .masthead-avatar {
    width: 8rem;
}

.page-section {
    padding: 3rem 0;
}